.bg-content {
  position: absolute;
  background-image: url('../../assets/bg_pattern.png') !important;
  background-repeat: repeat !important;
  background-color: var(--ion-color-medium);
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-max-width {
  max-width: 800px;
  margin: 0 auto;
}

.hint-text {
  font-size: 0.8em;
  opacity: 0.5;
}